@model FC_B13.Models.DB.Personal

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>

<h2>Додавання персоналу</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">П.І.Б</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataOfBirthday" class="control-label">Дата народження</label>
                <input asp-for="DataOfBirthday" class="form-control" />
                <span asp-validation-for="DataOfBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Номер телефону</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Адреса</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professions" class="control-label">Професії(введіть назву та натисніть enter)</label>
                <input asp-for="Professions" class="form-control" value="" data-role="tagsinput" type="text">
                <span asp-validation-for="Professions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractId" class="control-label">Контракт</label>
                <select asp-for="ContractId" class="form-control" asp-items="ViewBag.ContractId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-lg btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
