@{
    ViewData["Title"] = "About";
}

<style>
    .information{
        font-size:20px;
        width:100%;
    }
</style>

<h2>Про нас</h2>

<p class="information">
    Курсова робота з дисципліни Бази Даних. Виконав студент групи ПІ-31 Штеньович Віктор. 2018 рік.
</p>
