@{
    ViewData["Title"] = "Contact";
}


<h4>Наші контакти</h4>

<p>
    Україна. Місто Львів.<br />
    Наша електронна пошта: victor.shteniovych@gmai.com<br />
    Мобільний номер телефону: +3909923122<br />
</p>

