@{
    ViewData["Title"] = "Contact";
}

<style>

    .information {
        font-size: 20px;
        width:100%;
    }
</style>

<h2>Наші контакти</h2>

<p class="information">
    Україна. Місто Львів.<br />
    Наша електронна пошта: victor.shteniovych@gmai.com<br />
    Мобільний номер телефону: +3909923122<br />
</p>

