@model FC_B13.Models.RegisterModel


<h2>Реєстрація</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="form-signin">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">Введіть Email</label><br />
            <input type="text" asp-for="Email" class="form-control" placeholder="Password"/>
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введіть пароль</label><br />
            <input asp-for="Password" class="form-control" placeholder="Password"/>
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Повторіть пароль</label><br />
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Password"/>
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div class="form-group">
            <input type="submit" value="Реєстрація" class="btn btn-lg btn-primary btn-block"/>
        </div>
    </div>
</form>